@page
@model Web_Log_In_ASP.NET.Models.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-page="LogIn">Sign Up</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <!--
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
           -->
        </tr>
}
    </tbody>
</table>
